{% extends 'base.html' %}
{% block content %}
        <p>Top {{ movies|length }} Favorite Movies of All Time</p>
        <form method="post">
            Name <input type="text" name="title" autocomplete="off" required>
            Year <input type="text" name="year" autocomplete="off" required>
            <input class="btn" type="submit" name="submit" value="Add">
        </form>
        <ul class="movie-list">
            {% for movie in movies %}
            <li>{{ movie.title }} ({{ movie.year }})
                <span class="float-right">
                    <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">Edit</a>
                    <form class="inline-form" method="post" action="{{ url_for('delete', movie_id=movie.id) }}">
                        <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure')">
                    </form>
                    <a class="douban" href="https://search.douban.com/movie/subject_search?search_text={{ movie.title }}&cat=1002" target="_blank" title="Find this movie on Douban">豆瓣</a> 
                </span>
            </li> {# equal to movie['title'] #}
            {% endfor %}
        </ul>
        <img class="slamdunk" src="{{ url_for('static', filename='/images/Slamdunk.gif') }}" alt="Slam Dunk">
{% endblock %}