{% extends 'base.html' %}
{% block content %}
        <p>Top {{ movies|length }} Favorite Movies of All Time</p>
        <ul class="movie-list">
            {% for movie in movies %}
            <li>{{ movie.title }} ({{ movie.year }})
                <span class="float-right">
                    <a class="douban" href="https://search.douban.com/movie/subject_search?search_text={{ movie.title }}&cat=1002" target="_blank" title="Find this movie on Douban">豆瓣</a> 
                </span>
            </li> {# equal to movie['title'] #}
            {% endfor %}
        </ul>
        <img class="slamdunk" src="{{ url_for('static', filename='/images/Slamdunk.gif') }}" alt="Slam Dunk">
{% endblock %}